{% include 'Inc/header.html' %}
                      <h2 class="content-header-title float-start mb-0">Empresa</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/empresa">Listado</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/empresa/insert/">Insertar</a>
                                    </li>                   
                                </ol>
                            </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                <div class="mb-1 breadcrumb-right">
                    <div class="dropdown">
                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="#"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="#"><i class="me-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="#"><i class="me-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">

             <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> {{empresa.EMPRE_Nombre}} </h4>
                </div>
            </div>

            {% for item in aprendiz %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                           <div class="mb-1">
                                <img src="/media/{{ item.aprendiz.APREN_Foto }}" width="100px" height="100px"> <br><br>
                                <b>Nombre:</b> {{ item.aprendiz.APREN_Nombre }} {{ item.aprendiz.APREN_Apellido }}  <br>
                                <b>Documento:</b> {{ item.aprendiz.APREN_Documento }} <br>
                                <b>Estado del contrato:</b> {{ item.CONT_Estado_Contrato }} <br>
                                <b>Duracion: </b> {{ item.CONT_Fecha_Inicio }}  -  {{ item.CONT_Fecha_Terminacion }}  <br>
                                <b>Ficha:</b> {{ item.aprendiz.ficha.FICHA_Identificador_Unico }} <br>
                                <b>Programa de Formacion: </b> {{ item.aprendiz.ficha.programaformacion.PROGR_Nombre }} <br>

                           </div>
                    </div>
                </div>
            </div>
            {% endfor %}


       </div>
{% include 'Inc/footer.html' %}

