{% include 'Inc/header.html' %}

                        <h2 class="content-header-title float-start mb-0">Regional</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/regional ">Listado</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/regional/insert ">Insertar</a>
                                </li>                             
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                <div class="mb-1 breadcrumb-right">
                    <div class="dropdown">
                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="#"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="#"><i class="me-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="#"><i class="me-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="content-body">
            <section id="basic-datatable">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <table class="datatables-basic table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in regional %}
                                    <tr>
                                        <td></td>
                                        <td>{{ item.REGIO_Nombre }}</td>
                                        <td>
                                        <a onclick="borrar('{{item.id}}')">E</a>
                                        <a href="{% url 'updateRegional' item.id %}"> A</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>


{% include 'Inc/footer.html' %}


<script>
    function borrar(id){   
    swal({
            title: "¿Estas seguro de eliminar?",
            text: "Si eliminas este elemento no podra ser recuperado",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            
        .then((willDelete) => {
                       
            if (willDelete) {
                var url2 = "delete/" + id;
                url2 = url2.replace('id', id);
                location.href = url2;   

            
                swal("Poof! El elemento fue eliminado!", {
                icon: "success",
                });    
            
            } else {
                swal("El elemento no se elimino");
            }
        });   
    }   
</script>