{% include 'Inc/header.html' %}
                      <h2 class="content-header-title float-start mb-0">Ficha  {{ ficha.FICHA_Identificador_Unico }}</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/ficha">Listado</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/ficha/insert/">Insertar</a>
                                    </li>                   
                                </ol>
                            </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                <div class="mb-1 breadcrumb-right">
                    <div class="dropdown">
                        <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="grid"></i></button>
                        <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#"><i class="me-1" data-feather="check-square"></i><span class="align-middle">Todo</span></a><a class="dropdown-item" href="#"><i class="me-1" data-feather="message-square"></i><span class="align-middle">Chat</span></a><a class="dropdown-item" href="#"><i class="me-1" data-feather="mail"></i><span class="align-middle">Email</span></a><a class="dropdown-item" href="#"><i class="me-1" data-feather="calendar"></i><span class="align-middle">Calendar</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Informacion de la ficha: </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                       <div class="col-xl-4 col-md-6 col-12">
                           <div class="mb-1">
                                <b>Total de aprendices:</b> {{ total_apre }} <br>
                                <b>Encargado:</b> {{ ficha.FICHA_Nombre_Responsable }} <br>
                                <b>Programa de formacion:</b> {{ ficha.programaformacion.PROGR_Nombre}} <br>
                                <b>Jornada:</b> {{ ficha.jornada.JORNA_Nombre}} <br>
                                <b>Centro:</b> {{ ficha.centro.CENTR_Nombre}} <br><br>

                                <a href="/ficha/reporte/{{ficha.id}}"> <button class="btn btn-primary" type="submit">Imprimir Reporte</button></a>                 
                       </div> 
                    </div>
                </div>
            </div>
       </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Aprendices asociados a la ficha: </h4>
                </div>
                <section id="basic-datatable">
                    <table class="datatables-basic table">
                        <thead> 
                            <tr>                                        
                                <th>Aprendiz</th>
                                <th>Documento</th>
                                <th>Estado del Aprendiz</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in aprendiz %}
                            <tr>
                                <td> {{ item.APREN_Nombre }} {{ item.APREN_Apellido }} </td>
                                <td> {{ item.APREN_Tipo_Documento }} {{ item.APREN_Documento }} </td>
                                <td> {{ item.APREN_Estado }} </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                        
                </section>            
            </div>


            
            <div class="card">     
                {% if contrato %}
                <div class="card-header">
                    <h4 class="card-title"> Aprendices contratados: </h4>
                </div>
                <section id="basic-datatable">
               
                    <table class="datatables-basic table">
                        <thead> 
                            <tr>                                        
                                <th>Aprendiz</th>
                                <th>Estado del aprendiz</th>
                                <th>Estado del Contrato</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in contrato %}
                            <tr>
                                <td> {{ item.aprendiz.APREN_Nombre }} </td>
                                <td> {{ item.CONT_Estado_Aprendiz }} </td>
                                <td> {{ item.CONT_Estado_Contrato }} </td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>  
                    {% else %}
                    <div class="card-header">
                        <h4 class="card-title"> No hay Aprendices contratados </h4>
                    </div>
                </section>
                {% endif %}
            </div>



            <div class="card">     
                {% if sinContrato %}
                <div class="card-header">
                    <h4 class="card-title"> Aprendices disponibles: </h4>
                </div>
                <section id="basic-datatable">
               
                    <table class="datatables-basic table">
                        <thead> 
                            <tr>                                        
                                <th>Aprendiz</th>
                                <th>Estado del aprendiz</th>
                                <th>Estado del Contrato</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in sinContrato %}
                            <tr>
                                <td> {{ item.aprendiz.APREN_Nombre }} </td>
                                <td> {{ item.CONT_Estado_Aprendiz }} </td>
                                <td> {{ item.CONT_Estado_Contrato }} </td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>  
                    {% else %}
                    <div class="card-header">
                        <h4 class="card-title"> No hay Aprendices disponibles </h4>
                    </div>
                </section>
                {% endif %}
            </div>
            



            <div class="card">     
                {% if terminado %}
                <div class="card-header">
                    <h4 class="card-title"> Aprendices con contrato terminado: </h4>
                </div>
                <section id="basic-datatable">
               
                    <table class="datatables-basic table">
                        <thead> 
                            <tr>                                        
                                <th>Aprendiz</th>
                                <th>Estado del aprendiz</th>
                                <th>Estado del Contrato</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in terminado %}
                            <tr>
                                <td> {{ item.aprendiz.APREN_Nombre }} </td>
                                <td> {{ item.CONT_Estado_Aprendiz }} </td>
                                <td> {{ item.CONT_Estado_Contrato }} </td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>  
                    {% else %}
                    <div class="card-header">
                        <h4 class="card-title"> No hay Aprendices con contrato terminado </h4>
                    </div>
                </section>
                {% endif %}
            </div>
            


             <!-- Donut Chart Starts-->
             <div class="col-12">
                <div class="card">
                    <div class="card-header flex-column align-items-start">
                        <h4 class="card-title mb-75">Expense Ratio</h4>
                        <span class="card-subtitle text-muted">Spending on various categories </span>
                    </div>
                    <div class="card-body">{{labels}} {{data}}
                        <div id="donut-chart"></div>
                    </div>
                </div> 
            </div>
            <!-- Donut Chart Ends-->
           
            


{% include 'Inc/footer.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script type="text/javascript">
  
const ctx = document.getElementById('donut-chart');
const config = {
  type: 'donut',
  data: {
    datasets: [{
        data: [10, 20, 30],
        backgroundColor: ['#000']
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Red',
        'Yellow',
        'Blue'
    ]
    }
};

</script>