<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>

    <style>
        body{
            font-family: sans-serif;
        }
        h2, h1 {
            text-align: center;
        }
    
        td,th {
            text-align: center;
            width: auto;
            height: 50px;
        }
    
        table{
            background-color: white;
            border: solid 1px;
            border-color: rgb(0, 0, 0);
        }

        .tr-thead{
            background-color: #6bd536;
            color: white;
        }

        tr:nth-child(even){
            background-color: rgb(204, 204, 204);
        }

        .info-ficha{
            border: none;
        }

        .info-ficha td{
            text-align: left;
        }

    </style>
    
</head>

<body>
        <h1>Reporte de Aprendices</h1>

        <table class="info-ficha">
            <b>FICHA DE CARACTERIZACION:</b> {{ ficha.FICHA_Identificador_Unico }} - {{ ficha.programaformacion.PROGR_Nombre }} <br>
            <td>
                <b>FECHA DEL REPORTE:</b> {{ fecha}} <br>
                <b>CENTRO:</b> {{ ficha.centro.CENTR_Nombre}} <br>
                <b>JORNADA:</b> {{ ficha.jornada.JORNA_Nombre}} <br>
            </td>

            <td>
                <b>ETAPA:</b> {{ ficha.FICHA_Etapa }} <br>
                <b>FECHA DE INICIO:</b> {{ ficha.FICHA_Fecha_Inicio}} <br>
                <b>FECHA DE FINALIZACION:</b> {{ ficha.FICHA_Fecha_Terminacion}} <br>
            </td>
            <td>                
            </td>

        </table> <br><br>

        <h2>Aprendices asociados a la Ficha</h2>
        <table>
            <thead> 
                <tr class="tr-thead">                                        
                    <th>APRENDIZ</th>
                    <th>DOCUMENTO</th>
                    <th>CORREO</th>
                    <th>ESTADO DEL APRENDIZ</th>
                </tr>
            </thead>
            <tbody>
                {% for item in aprendiz %}
                <tr>
                    <td> {{ item.APREN_Nombre }} {{ item.APREN_Apellido }} </td>
                    <td> {{ item.APREN_Tipo_Documento }} {{ item.APREN_Documento }} </td>
                    <td> {{ item.APREN_Correo }} </td>
                    <td> {{ item.APREN_Estado }} </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>   



        {% if contrato %}
        <br><br>
        <h2>Aprendices con Contrato</h2>
        <table border="1">
            <thead> 
                <tr class="tr-thead">                                        
                    <th><br> APRENDIZ</th>
                    <th>ESTADO DEL APRENDIZ</th>
                    <th>ESTADO DEL CONTRATO</th>
                    <th>EMPRESA</th>
                    <th>FECHA INICIO</th>
                    <th>FECHA TERMINACION</th>
                </tr>
            </thead>
            <tbody>
                {% for item in contrato %}
                <tr>
                    <td><br> {{ item.aprendiz.APREN_Nombre }} </td>
                    <td> {{ item.CONT_Estado_Aprendiz }} </td>
                    <td> {{ item.CONT_Estado_Contrato }} </td>
                    <td> {{ item.empresa.EMPRE_Nombre }} </td>
                    <td> {{ item.CONT_Fecha_Inicio }} </td>
                    <td> {{ item.CONT_Fecha_Terminacion }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
        {% endif %}




        {% if sinContrato %}
        <br><br>
        <h2>Aprendices sin Contrato</h2>
        <table border="1">
            <thead> 
                <tr class="tr-thead">                                        
                    <th><br> APRENDIZ</th>
                    <th>ESTADO DEL APRENDIZ</th>
                    <th>ESTADO DEL Contrato</th>
                </tr>
            </thead>
            <tbody>
                {% for item in sinContrato %}
                <tr>
                    <td><br> {{ item.aprendiz.APREN_Nombre }} </td>
                    <td> {{ item.CONT_Estado_Aprendiz }} </td>
                    <td> {{ item.CONT_Estado_Contrato }} </td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>   
        {% endif %}



        
        {% if terminado %}
        <br><br>
        <h2>Aprendices con Contrato Terminado</h2>
        <table border="1">
            <thead> 
                <tr class="tr-thead">                                        
                    <th>APRENDIZ</th>
                    <th>ESTADO DEL APRENDIZ</th>
                    <th>ESTADO DEL contrato</th>
                    <th>EMPRESA</th>
                </tr>
            </thead>
            <tbody>  
                {% for item in terminado %}
                <tr>
                    <td><br> {{ item.aprendiz.APREN_Nombre }} </td>
                    <td> {{ item.CONT_Estado_Aprendiz }} </td>
                    <td> {{ item.CONT_Estado_Contrato }} </td>
                    <td> {{ item.empresa.EMPRE_Nombre }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
        {% endif %}



</body>
</html>