{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="description" content="Proyecto para el manejo de ambientes de formacion">
    <meta name="keywords" content="Proyecto Ambientes CTGI - GIAITEQ">
    <meta name="author" content="SENNOVA CTGI">
    <title>Sistema Gestion de Ambientes de Formacion y Programacion Instructores - CTGI - GIAITEQ</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src='{% static "js/jquery-3.6.1.min.js" %}'></script>
    <link rel="apple-touch-icon" sizes="57x57" href='{% static "images/favicon/apple-icon-57x57.png" %}'>
    <link rel="apple-touch-icon" sizes="60x60" href='{% static "images/favicon/apple-icon-60x60.png" %}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{% static "images/favicon/apple-icon-72x72.png" %}'>
    <link rel="apple-touch-icon" sizes="76x76" href='{% static "images/favicon/apple-icon-76x76.png" %}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{% static "images/favicon/apple-icon-114x114.png" %}'>
    <link rel="apple-touch-icon" sizes="120x120" href='{% static "images/favicon/apple-icon-120x120.png" %}'>
    <link rel="apple-touch-icon" sizes="144x144" href='{% static "images/favicon/apple-icon-144x144.png" %}'>
    <link rel="apple-touch-icon" sizes="152x152" href='{% static "images/favicon/apple-icon-152x152.png" %}'>
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "images/favicon/apple-icon-180x180.png" %}'>
    <link rel="icon" type="image/png" sizes="192x192" href='{% static "images/favicon/android-icon-192x192.png" %}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "images/favicon/favicon-32x32.png" %}'>
    <link rel="icon" type="image/png" sizes="96x96" href='{% static "images/favicon/favicon-96x96.png" %}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "images/favicon/favicon-16x16.png" %}'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" >
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-extended.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/colors.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/components.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/themes/dark-layout.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/themes/bordered-layout.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/themes/semi-dark-layout.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/core/menu/menu-types/vertical-menu.css" %}'>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- Estilos para el LOGIN y LOGOUT-->
    <link rel="apple-touch-icon" href='{% static "images/ico/apple-icon-120.png" %}'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" >

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href='{% static "vendors/css/vendors.min.css" %}'>
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-extended.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/colors.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/components.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/themes/dark-layout.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/themes/bordered-layout.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/themes/semi-dark-layout.css" %}'>

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href='{% static "css/core/menu/menu-types/vertical-menu.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/plugins/forms/form-validation.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/pages/authentication.css" %}'>
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href='{% static "assets/css/style.css" %}'>
    <!-- END: Custom CSS-->

</head>


 